<footer class="well">
  <a href="/" 'Welcome Page'></a>
    <article>This page was made by
        <a href="https://github.com/LjCraft12"> Perry Craft, </a>
        <a href="https://github.com/wallergoble"> Waller Goble, </a>
        <a href="https://github.com/Gopherbroke"> & Josh Owen </a>
    </article>

    <article>
        Find out more on <a href="https://github.com/wallergoble/vagabond-project">Github</a/>
    </article>
</footer>
