<br>
<br>
<footer class="well">

  <div class="text-center">  <a href="/">Welcome Page</a> </div>

    <article>This page was made by
        <a href="https://github.com/LjCraft12"> Perry Craft, </a>
        <a href="https://github.com/wallergoble"> Waller Goble, </a>
        <a href="https://github.com/Gopherbroke"> & Josh Owen </a>
    </article>

    <article>

        This project's repo is available <a href="https://github.com/wallergoble/project-vagabond"> here</a>

    </article>

</footer>
