<%= render 'partials/header' %>
<h1>City Skylines</h1>
<img class="banner" src="http://www.hotel-r.net/im/hotel/pl/cityscape-21.jpg" alt="Banner Img">


<h2>Click On A City To Get Started</h2>

<main class="container">
  <section class="flex-container">
    <div class="index">
      <% @cities.each do |city| %>
      <h4><%= link_to city.city, city_path(city.id) %>"</h4>

      <img class="peek" src="<%= city.image_url %>">
      <br>
      <br>
      <% end %>
    </div>
  </section>
</main>
