<h1>City Skylines</h1>

<img src="http://nicolascage.us/wp-content/uploads/2013/12/Cageoala.jpg" height="82" width="142">

<p>Click on a City to Get Started</p>

<div>
  <% @cities.each do |city| %>
  <a href="/cities/<%= city.id %>">
  <%= city.city %>
  <br>
  <img src="<%= city.image_url %>">
  <br>
  <% end %>
</div>
