// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.relative{position:relative; width:100%;}
.absolute-text{position:absolute; top:0; margin: 0px; width:100%; text-align:center; font-size: 50px}

.banner {
  margin-top: -2rem;
  height: 28rem;
  width: 100%;
}
.index {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}


.peek {
  border: .2rem solid rgb(163, 163, 194);
  margin: -1rem auto;
  height: 20rem;
  width: 34rem;
}

.custom-search {
  margin-top: .8rem;
}